<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title>{{this.row.title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Produk {{ this.row.title }} </ion-card-subtitle>
      <ion-card-title>{{ this.row.title }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="{{this.row.foto}}">
      <p> Harga : Rp. {{ this.row.price | currency }}</p>
      <p> {{ this.row.description }}</p>
    </ion-card-content>
  </ion-card>

</ion-content>